ReleaseHistory(
    releases: [
        // They don't have wallpapers file defined
        // (codename: "warty",    version: "4.10", release_date: "2004-10-20"),
        // (codename: "hoary",    version: "5.04", release_date: "2005-04-08"),
        // (codename: "breezy",   version: "5.10", release_date: "2005-10-12"),
        // (codename: "dapper",   version: "6.06", release_date: "2006-06-01"),
        // (codename: "edgy",     version: "6.10", release_date: "2006-10-26"),
        // (codename: "feisty",   version: "7.04", release_date: "2007-04-19"),
        // (codename: "gutsy",    version: "7.10", release_date: "2007-10-18"),
        // (codename: "hardy",    version: "8.04", release_date: "2008-04-24"),
        // (codename: "intrepid", version: "8.10", release_date: "2008-10-30"),
        // (codename: "jaunty",   version: "9.04", release_date: "2009-04-23"),

        (codename: "karmic",   version: "9.10", release_date: "2009-10-29"),
        (codename: "lucid",    version: "10.04", release_date: "2010-04-29"),
        (codename: "maverick", version: "10.10", release_date: "2010-10-10"),
        // This file `Aeg_by_Tauno_Erik.jpg` already in `maverick` release
        (codename: "natty",    version: "11.04", release_date: "2011-04-28", duplicates: ["Aeg_by_Tauno_Erik.jpg"]),
        (codename: "oneiric",  version: "11.10", release_date: "2011-10-13"),
        (codename: "precise",  version: "12.04", release_date: "2012-04-26"),
        (codename: "quantal",  version: "12.10", release_date: "2012-10-18"),
        (codename: "raring",   version: "13.04", release_date: "2013-04-25"),
        (codename: "saucy",    version: "13.10", release_date: "2013-10-17"),
        (codename: "trusty",   version: "14.04", release_date: "2014-04-17"),
        (codename: "utopic",   version: "14.10", release_date: "2014-10-23"),
        (codename: "vivid",    version: "15.04", release_date: "2015-04-23"),
        (codename: "wily",     version: "15.10", release_date: "2015-10-22"),
        (codename: "xenial",   version: "16.04", release_date: "2016-04-21"),
        (codename: "yakkety",  version: "16.10", release_date: "2016-10-13"),
        (codename: "zesty",    version: "17.04", release_date: "2017-04-13"),
        (codename: "artful",   version: "17.10", release_date: "2017-10-19"),
        (codename: "bionic",   version: "18.04", release_date: "2018-04-26"),
        (codename: "cosmic",   version: "18.10", release_date: "2018-10-18"),
        (codename: "disco",    version: "19.04", release_date: "2019-04-18"),
        (codename: "eoan",     version: "19.10", release_date: "2019-10-17"),
        (codename: "focal",    version: "20.04", release_date: "2020-04-23"),
        (codename: "groovy",   version: "20.10", release_date: "2020-10-22"),
        (codename: "hirsute",  version: "21.04", release_date: "2021-04-22"),
        (codename: "impish",   version: "21.10", release_date: "2021-10-14"),
        (codename: "jammy",    version: "22.04", release_date: "2022-04-21"),
        (codename: "kinetic",  version: "22.10", release_date: "2022-10-20"),
        (codename: "lunar",    version: "23.04", release_date: "2023-04-20"),
        (codename: "mantic",   version: "23.10", release_date: "2023-10-12"),
        (codename: "noble",    version: "24.04", release_date: "2024-04-25"),
        (codename: "oracular", version: "24.10", release_date: "2024-10-10"),
        (codename: "plucky",   version: "25.04", release_date: "2025-04-17"),
        (codename: "questing", version: "25.10", release_date: "2025-10-09"),
    ],
)
